

.sidebar {
  width: 400px;
  min-height: 100vh;
  border-right: 1px solid #dee2e6;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #f8f9fa;
  transition: all 0.3s ease-in-out;
}

.side-link {
  padding: 10px 15px;
  border-radius: 10px;
  color: #333;
  transition: 0.2s all ease-in-out;
  font-weight: 500;
}

.side-link:hover {
  background-color: #e9ecef;
  color: #000;
  transform: translateX(5px);
}

.side-link.active {
  background-color: #0d6efd;
  color: white !important;
}

.main-content {
  background-color: #f1f3f5;
  min-height: 100vh;
}

.h-full{
  height: 80dvh;
}