    :root {
        --background-color-dark: rgb(20, 14, 26);
        --hero-background-color-gradient: radial-gradient(circle at top left, rgb(23, 31, 39) 0%, rgba(18, 24, 30, 1) 100%);
        --side-color: #ffc107;
        --theme-color: #5BB7EA;
        --color-light: rgb(222, 224, 233);
        --light-color: #fff;

        --primary-red: rgb(220, 53, 69);
    }

    .btn-primary {
        background-color: var(--primary-red);
        border-color: var(--primary-red);
        transition: 0.3s ease-in-out;
    }

    .btn-primary:hover {
        background-color: var(--hero-background-color-gradient);
        border-color: var(--primary-red);
        color: var(--primary-red);
        transition: 0.3s ease-in-out;
    }

    .custom-nav-main {
        background: rgba(20, 14, 26, 0.9);
    }

    .custom-nav-ulist {
        padding-top: 20px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    .custom-nav-ulist li a {
        text-decoration: none;
        color: white;
        padding: 10px;
        margin-bottom: 5px;
        transition: 0.3s;
    }

    .nav-active {
        border-bottom: 1px solid #fff;
        border-radius: 5px;
        transition: 0.3s;
    }

    .nav-active:hover {
        padding-bottom: 10px;
        border-bottom: 1px solid #fff;
        border-radius: 10px;
        transition: 0.3s;
    }

    .custom-nav-ulist li:hover {
        padding-bottom: 10px;
        padding-top: 10px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        border-radius: 8px;
        transition: 0.5s;
    }

    .custom-nav-ulist li {
        padding-bottom: 10px;
        padding-top: 10px;
        border-top: 1px solid rgba(0, 0, 0, 0);
        border-bottom: 1px solid rgba(0, 0, 0, 0);
    }

    .custom-nav-ulist li:hover .nav-active {
        padding-bottom: 10px;
        border-bottom: none;
        border-radius: 10px;
        transition: 0.3s;
    }

    .custom-nav-ulist li:last-child {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        border-radius: 8px;
    }

    .custom-nav-ulist li:last-child:hover {
        border-top: 1px solid #e824fa;
        border-bottom: 1px solid #e824fa;
        border-radius: 8px;
    }

    /* HERO CONTAINER FLEXIBILITY */
    @media screen AND (max-width: 500px) {
        .hero-container-d-flex {
            width: 100%;
            flex-direction: column;
        }
    }

    /* HERO ABOUT US MODULE  */
    .hero-aboutus-container {
        height: auto;
        /* height: 100dvh; */
        background: var(--hero-background-color-gradient);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-align: center;
        position: relative;
        overflow: hidden;
        padding: 2rem;
        padding-top: 30vh;
        padding-bottom: 20%;
        color: white;
        background-position: fixed;
    }

    .hero-aboutus-container::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        opacity: 1;
        height: 20vh;
        background: linear-gradient(to bottom, var(--background-color-dark), transparent);
        padding-bottom: 0;
        margin-bottom: 0;
        z-index: 2;
        pointer-events: none;
    }

    .hero-aboutus-container::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 100%;
        background: url("assets/backgrounds/background-filter-6.png");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
        pointer-events: none;
    }







    /* css for hero section */
    .hero-bg {
        background-color: rgb(20, 14, 26);
    }

    .hero-height {
        height: 90dvh;
    }

    .custom-image {
        width: auto;
        height: 200px;
    }

    .custom-image-about-wrapper {
        position: relative;
        display: inline-block;
        /* Ensures wrapper fits image */
        max-width: 100%;
    }

    .custom-image-about-wrapper::before {
    content: "";
    position: absolute;
    top: 20px; /* Adjust to shift down */
    left: -20px; /* Adjust to shift left */
    width: 100%;
    height: 100%;
    max-width: 500px; /* optional max size */
    background: rgba(255, 255, 255, 0.6); /* translucent white */
    z-index: 0;
    border-radius: 30px 60px 10px 90px; /* Unequal corners */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* soft shadow */

    backdrop-filter: blur(10px); /* main glass effect */
    -webkit-backdrop-filter: blur(10px); /* for Safari */
    border: 1px solid rgba(255, 255, 255, 0.3); /* subtle border for glass */
}


    .custom-image-about {
        width: auto;
        height: 400px;
        position: relative;
        z-index: 1;
        display: block;
    }


    /* education section css */
    .custom-edu-card {
        cursor: pointer;
        transition: 0.3s;
    }


    .custom-edu-card:hover {
        transition: 0.3s;
        transform: translate(0%, -5%);
        background-color: rgb(20, 14, 26);
        color: #fff;
    }


    /* projects section css */
    .bg-projects {
        background-color: rgb(234, 247, 251);

    }


    .text-headline {
        color: rgb(220, 53, 69);
    }

    /* certification section style */
    .certification-image {
        width: 300px;
        height: 300px;
        display: block;
        margin: auto;
    }

    .read-more-btn {
        border: 1px solid rgb(220, 53, 69);
        border-radius: 20px;
        padding: 5px 15px 5px 15px;
        text-decoration: none;
        color: rgb(220, 53, 69);
        transition: 0.3s;
    }

    .read-more-btn:hover {
        transition: 0.3s;
        color: white;
        background-color: rgb(220, 53, 69);
    }


    .btn-social {
        width: 45px;
        height: 45px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 10px;
        text-align: center;
        border-radius: 45px;
    }

    .experience-main-divh100 {
        height: auto;
    }

    /* EDUCATION CONTAINER GRADIENT COLOR */
    .hero-education-container {
        height: auto;
        /* height: 100dvh; */
        background: var(--hero-background-color-gradient);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-align: center;
        position: relative;
        overflow: hidden;
        padding: 2rem;
        padding-top: 30vh;
        padding-bottom: 20%;
        color: white;
        background-position: fixed;
    }


    .hero-education-container::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
        height: 30vh;
        background: linear-gradient(to top, var(--background-color-dark), transparent);
        padding-bottom: 0;
        margin-bottom: 0;
        z-index: 2;
        pointer-events: none;
    }


    .hero-education-container::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 30vh;
        /* background: linear-gradient(to bottom, rgba(20, 14, 26, 1), transparent); */
        background: linear-gradient(to bottom, rgba(18, 24, 30, 1), transparent);
        z-index: 1;
        pointer-events: none;
    }

    /* CUSTOMIZED EXPERIENCE CARDS */
    .custom-exp-card {
        height: 50vh;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        border-left: 1px solid var(--light-color);
        border-radius: 0px;
        text-align: left;
        padding-left: 20px;
    }

    /* PROJECT SECTION CUSTOMIZED CARDS */
    .custom-project-card {
        display: flex;
        align-items: center;
        height: 80vh;
    }



    .hide {
        display: none;
    }



    /* Timeline.css */
    .timeline-container {
        width: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 300px;
        justify-content: space-between;
        /* background-color: #000; */
        padding: 20px;
    }

    .circle {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        box-shadow: 0 0 10px 5px;
    }

    .blue {
        background-color: #00f;
        box-shadow: 0 0 15px #00f;
    }

    .purple {
        background-color: #800080;
        box-shadow: 0 0 15px #800080;
    }

    .red {
        background-color: #f00;
        box-shadow: 0 0 15px #f00;
    }

    .line {
        width: 2px;
        height: 110px;
        background: linear-gradient(to bottom, #00f, #800080, #f00);
    }

    /* CUSTOMIZED CURSOR */
    /* Hide default cursor */
    body {
        cursor: none;
    }


    /* Cursor dot (default) */
    .cursor-dot {
        position: fixed;
        width: 6px;
        height: 6px;
        background-color: #ffF;
        /* background-color: #ff0055; */
        border-radius: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        pointer-events: none;
        transition: all 0.1s ease;
    }

    /* Vertical line style */
    .cursor-dot.cursor-line {
        width: 2px;
        height: 24px;
        background-color: #00ffff;
        border-radius: 0;
    }

    /* Glowing rings */
    .cursor-ring,
    .cursor-ring2,
    .cursor-ring3 {
        position: fixed;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        z-index: 9998;
        animation: pulse 2s infinite;
    }

    .cursor-ring {
        width: 20px;
        height: 20px;
        border: 2px solid rgba(76, 0, 255, 0.6);
    }

    .cursor-ring2 {
        width: 27px;
        height: 27px;
        border: 2px solid rgba(187, 0, 255, 0.5);
        animation-delay: 0.4s;
    }

    .cursor-ring3 {
        width: 35px;
        height: 35px;
        border: 2px solid rgba(255, 0, 100, 0.5);
        animation-delay: 0.4s;
    }

    @keyframes pulse {
        0% {
            transform: translate(-50%, -50%) scale(0.9);
            opacity: 0.8;
        }

        50% {
            transform: translate(-50%, -50%) scale(1.1);
            opacity: 0.4;
        }

        100% {
            transform: translate(-50%, -50%) scale(0.9);
            opacity: 0.8;
        }
    }


    /* footer animation line */

    .footer-animated-line {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: linear-gradient(270deg, #0dcaf0, #6610f2, #6f42c1, #d63384);
        background-size: 600% 100%;
        animation: footerGradient 5s ease infinite;
    }

    @keyframes footerGradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }